{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="flex items-center justify-between font-semibold text-base md:w-full  text-[#18191F] p-2 ">
        <div>
            <h1 class="font-bold text-xl">Nexcent</h1>
        </div>
            <nav class="hidden md:block">
                <ul class="flex items-center justify-center gap-14 text-[#18191F] font-normal">
                    <li>Home</li>
                    <li>Service</li>
                    <li>Feature</li>
                    <li>Product</li>
                    <li>Testimonial</li>
                    <li>FAQ</li>
                </ul>
            </nav>
            <div class="flex items-center justify-center md:gap-10">
                <button class="h-[40px] w-[91px] py-[5px] text-center rounded-md"">Login</button>
                <button class="bg-[#4CAF4F] h-[40px] w-[91px] py-[5px] text-center text-[#fff] rounded-md hover:bg-[#43A046]">Sign up</button>
            </div>
    </header>
    <main class="container">
        {% block content %} {% endblock %}
    </main>
</body>

</html>